body {
    background: #81b29a;
    font-family: "Miriam Libre", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.circle {
    --circle-size: 60px;
    position: fixed;
    height: var(--circle-size);
    width: var(--circle-size);
    border: none;
    border-radius: 100%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
    background-color:aquamarine;
    opacity: 52%;
    
  }

  
.title {
    font-family: "Miriam Libre", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fbffd5;
    text-align: center;
    font-size: 100px;
    margin-top: 85px;
    text-shadow: 3px 6px 10px #4f9377;
}

.subtitle {
    font-family: "Miriam Libre", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fbffd5;
    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;
   
}

img {
    display: block;
    width: 25vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 99%;
    margin-bottom: 45px;
    box-shadow: 5px 6px 10px 2px #63786f;
    
}

.container {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

}

#column1, #column2 {
    display: block;
    background-color: #fbffd5;
    padding: 50px 70px;
    margin-bottom: 30px;
    margin: 50px;
    border-radius: 50px;
    font-size: 30px;
    line-height: 50px;
    box-shadow: 5px 6px 10px 2px #63786f;

}

h2 {
    color: #81b29a;
}

a {
    color: #47946f;
    transition-duration: 0.2s;
}

a:hover {
    color:rgb(129, 177, 244);
    
}

.title:hover{
    color: rgb(244, 244, 129);
    transition-duration: 0.2s;
    transform: scale(1.2,1.2);
}

h2:hover {
    transform: scale(1.2, 1.2);
}

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    img {
        width: 45vw;
    }
}
