body {
    background: #81b29a;
    font-family: "Miriam Libre", sans-serif;
    font-weight: 700;
    font-style: normal;
}


  
.title {
    font-family: "Miriam Libre", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fbffd5;
    text-align: center;
    font-size: 100px;
    margin-top: 85px;
}

.subtitle {
    font-family: "Miriam Libre", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fbffd5;
    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;
   
}

img {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 99%;
    margin-bottom: 50px;
    
}

.container {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

}

.column {
    display: block;
    background-color: #fbffd5;
    padding: 50px 70px;
    margin-bottom: 30px;
    margin: 50px;
    border-radius: 50px;
    font-size: 30px;
    line-height: 50px;

}

h2 {
    color: #81b29a;
}


  
