body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: #1d1c55;
  background-image: linear-gradient(#16154B 44.09%, rgba(133, 131, 212, 0.21) 100%), url(images/plain-concrete.png);
  background-repeat: repeat-y;
  background-position: bottom;
  background-size: 100vw;

  
}

.title {
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 130px;
  position: absolute;
  top: 240px;
  left: 230px;
  
  
}


.subtitle {
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  position: absolute;
  top: 400px;
  left: 380px;
  text-align: center;

  
}

.text1 {
  text-align: center;
  position: absolute;
  top: 800px;
  left: 430px;
  font-size: 20px;
  margin-bottom: 20px;
}

.text2 {
  width: 850px;
  text-align: center;
  position: absolute;
  top: 1650px;
  left: 330px;
  font-size: 20px;
}

.buttons {
    width: 65%;
    max-width: 100vw;
    height: 80px;
    margin: auto;
    margin-top: 320px;
    margin-bottom: 400px;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.gallery-button {
  width: 400px;
  height: 450px;
  background-image: url(images/about-concrete.png);
  background-size: contain;
  border-radius: 30%;
  
}

.gallery-button:hover {
  background-image: url(images/about-pigeon.png);
  transition: background-image 0.4s ease-in-out;
}

.sections-button {
  width: 400px;
  height: 450px;
  background-image: url(images/section-concrete.png);
  background-size: contain;
  border-radius: 30%;
  
  
}

.sections-button:hover {
  background-image: url(images/sections-pigeon.png);
  transition: background-image 0.4s ease-in-out;
}


.quote {
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  margin: 150px;
  margin-bottom: 200px;
  margin-top: 900px;
  max-width: 100vw;
  text-align: center;
}

.header {
  
  width: 100vw;
  height: 100vh;
  
}

.nav {
    width: 100%;
    height: 20px;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
  
}

a {
  text-decoration: none;
    color: white;
}

ul {
  display: block;
  text-align: end;
  margin-right: 70px;
  font-size: 2vw;
  
}

li:hover {
  filter: blur(2px);
  transition:  0.2s ease-in-out;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 40px; 
  
}

.logo {
  width: 100px;
  padding-top: 20px;
  padding-left: 10px;

}

.logo:hover {
  filter: blur(2px);
  transition:  0.2s ease-in-out;
}

 #background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  
}

a:link, a:hover, a:visited, a:active {
  text-decoration: none;
}