body {
    background-color: #FFBE16;
}

img {
    width: 300px;
    height: 300px;
    margin: 30px;
    
}

.container {
    width: 1100px;
    height: 600px;
    position: relative;
    top: 50px;
    left: 200px;
    display: flex;
    align-items: center;
    
}
.sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}


img:hover {
    transition: scale(1.1, 1.1);
}
